<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeAliases>
        <typeAlias alias="Order" type="org.multimodule.flyway.entity.Order"/>
        <typeAlias alias="Member" type="org.multimodule.flyway.entity.Member"/>
        <typeAlias alias="OrderLine" type="org.multimodule.flyway.entity.OrderLine"/>
        <typeAlias alias="OrderId" type="org.multimodule.flyway.entity.OrderId"/>
        <typeAlias alias="MemberId" type="org.multimodule.flyway.entity.MemberId"/>
        <typeAlias alias="OrderLineId" type="org.multimodule.flyway.entity.OrderLineId"/>
    </typeAliases>

    <typeHandlers>
        <typeHandler handler="org.multimodule.flyway.handler.OrderIdTypeHandler"/>
        <typeHandler handler="org.multimodule.flyway.handler.MemberIdTypeHandler"/>
        <typeHandler handler="org.multimodule.flyway.handler.OrderLineIdTypeHandler"/>
    </typeHandlers>

    <mappers>
        <mapper resource="mybatis/mappers/Order.xml"/>
    </mappers>

</configuration>
